{%- assign items = site.data.atopani_locations -%}
<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>

<script>
    (function(){
    /* add collection map data */
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in items %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":
    { 
        "title": {{ item.location | escape | jsonify }}, 
        "id": {{ item.id | jsonify }}, 
        "order": {{ item.order | jsonify }}, 
        "content": {{ item.content | jsonify }}
    } }{% unless forloop.last %}, {% endunless %}{% endfor %}
    ]};

    console.log(geodata)

    var mymap = L.map('atomap').setView([6.017376313983302, 0.742344555698862], 8);

    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    }).addTo(mymap);

    // object popup function
    function objectPopups(feature, layer) {
        // set up popup content
        var popupTemplate = '<h4>' + feature.properties.title + '</h4><br><p>' + feature.properties.content + '</p>';
        layer.bindPopup(popupTemplate);
    }

    function objectMarkers(feature,latlng) {
        var marker = L.marker(latlng);
        return marker;
    }

    L.geoJson(geodata, {
        onEachFeature: objectPopups,
        pointToLayer: objectMarkers
    }).addTo(mymap)

    $('#notsie').on('click', function(){
        mymap.flyTo([6.951028469, 1.171996568], 14, {
        animate: true,
        easeLinearity: .5,
        duration: 3});
    });

})();
</script>