---
layout: default
---
{% assign objects = site.data.ghana_trees %}
{% assign tree-data = site.data.trees[page.data] %}
{% assign main = site.data.ghana_tree_instruments | map: 'category' | compact | uniq %}

<div class="container my-5">

  <div class="container">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/trees/' | relative_url }}">Term Trees</a></li>
          <li class="breadcrumb-item active">{{ page.title }}</li>
      </ul>
  
      <div class="row">
          <div class="col-md-6" >
              <h2>{{ page.title }} Tree</h2>
              <p>{{ page.type }}</p>
          </div>
          
      </div>
      <div class="text-center">
          <a class="btn btn-secondary" href="{{ '/trees/' | relative_url }}" role="button">&laquo; Trees</a>
      </div>
  </div>

</div>

<!--<div id="tree" class="container p-4"></div>-->
<style>
    .node {
      cursor: pointer;
    }
  
    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }
  
    .node text {
      font: 12px sans-serif;
    }
  
    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }
  </style>